/* Fonts */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Regular-102.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Bold-102.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Italic-102.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMonoNL-Regular.ttf");
  font-style: italic;
}


body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background: rgb(241 245 249);
  margin: auto;
  max-width: 50em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

footer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  a {
    color: black;
    font-family: 'Ubuntu Mono', monospace;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
}

#page-title {
  text-align: center;
}

#page-title h1 a {
  color: black;
  font-size: 2.7rem;
  font-weight: 400;
}

#container {
  padding: 0 1em 1em;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

#posts-listing {
  font-family: 'Ubuntu Mono', monospace;
}

#posts-listing a {
  color: black;
}

#posts-listing li {
  list-style-type: none;
}

#posts-listing .row {
  display: flex;
}

#posts-listing .row .date-time {
  flex: 3;
}

#posts-listing .row .title {
  flex: 9;
}

#blog-post {
  & > h1 {
    text-align: center;
    font-size: 2.3rem;
  }

  #subheader {
    display: flex;
    justify-content: space-between;
  }

  article {
    text-align: justify;

    p:has(img) {
      display: flex;
      justify-content: center;
    }
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

img, video {
  max-width: 100%;
  margin: 1rem 0;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.2)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.5));
}

img {
  object-fit: scale-down;
  border-radius: 10px;
}


pre {
  overflow-x: auto;
  padding: .5rem;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-family: "JetBrains Mono", monospace;
  white-space: pre;
  overflow-x: auto;
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

@media all and (max-width: 500px) {
  #posts-listing .row .date-time {
    display: none;
  }

  pre {
    margin: 0 -1em;
  }
}
