<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{{ config.title }}</title>

    <link rel="alternate" type="application/rss+xml" title="Code & Sundry" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono"
          integrity="sha256-3kch8aZqeG9XCO8gENRQVTzdrC10zns1R0Sk+VNxX/0= sha384-LFMFQduS3jZb8qw5jt4eGp8wr6SJxpB6dFtp+qZ+4oPWArrtt3ovLV8eJxZpj5/o sha512-oeWfo40Bu8F6W7JGAnUUdG2Cr5qgsS9MlfaTVVN6TZqfYhY+iFqXUxRjanUP4+MCEeu2xabgbfvE62Jh5XJr7w=="
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/css/stylesheet.css">
    <script src="/js/turbolinks.js"
            async></script>
</head>

<body>
<div id="container">
    <section id="page-title">
        <h1><a href="/">Code & Sundry</a></h1>
    </section>
    {% block content %} {% endblock %}
</div>
</body>
</html>
