{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="/favicon.png" />

    {%- block head -%}
    {{ macros::title(text=config.title) }}
    {{ macros::description(text=config.description) }}
    {%- endblock -%}

    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/code-and-sundry.png">

    <link rel="alternate" type="application/rss+xml" title="Code & Sundry" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/turbolinks.js" async></script>
</head>

<body>
<div id="container">
    <section id="page-title">
        <h1><a href="/">Code & Sundry</a></h1>
        <small><a href="https://jonstodle.com">Jon G Stødle</a></small>
    </section>
    {% block content %} {% endblock %}
</div>
</body>

<footer>
    <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS</a>
    <a href="https://github.com/jonstodle/blog">Source</a>
    <a href="https://snabelen.no/@jonstodle">Mastodon</a>
</footer>
</html>
