<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% block head %}
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    {% endblock %}

    <link rel="alternate" type="application/rss+xml" title="Code & Sundry" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/turbolinks.js" async></script>
</head>

<body>
<div id="container">
    <section id="page-title">
        <h1><a href="/">Code & Sundry</a></h1>
    </section>
    {% block content %} {% endblock %}
</div>
</body>

<footer>
    <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS</a>
    <a href="https://github.com/jonstodle/blog">Source</a>
    <a href="https://snabelen.no/@jonstodle">Mastodon</a>
</footer>
</html>
