{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} - {{ config.title }}</title>
<meta name="description" content="{{ page.content | split(pat="\n") | first | striptags }}">
<meta property="og:image" content="/images/code-and-sundry.png">
{% endblock %}

{% block content %}
<div id="blog-post">
    <h1>{{ page.title }}</h1>
    <div id="subheader">
        <time>{{ page.date | date(format="%d %b %Y", timezone="Europe/Oslo") }}</time>
        <span>{{ page.word_count }} words, {{ page.reading_time }} minutes to read</span>
    </div>
    <article>
        {{ page.content | safe }}
    </article>
</div>
{% endblock content %}
